<mat-stepper linear #stepper>
  <mat-step class="step">
    <ng-template matStepLabel>Uploading Reports</ng-template>
    <div class="content">
      <app-uploading-files
        [reports]="reportsPaths"
        (changeReport)="onChangeReport($event)"
      ></app-uploading-files>
    </div>
    <div class="controls">
      <button (click)="readFiles()" mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Players Report</ng-template>
    <div class="content">
    </div>
    <div class="controls">
      <button mat-raised-button color="primary" matStepperPrevious>Back</button>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Final Report</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
